html {
  overflow: visible;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: $white;
  color: $font-color !important;
  font-family: $font-family-body;
  font-size: $font-size-small;
  font-weight: $font-weight-normal;
  height: 100%;
  letter-spacing: $letter-spacing;
  line-height: $line-height;
  margin: 0;
  padding: 0;
  position: relative;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.application {
  @include flex();
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
}
.wrapper {
  // padding: 260px 0px 25px;
  padding: 50px 0px 25px;
  padding: 25px;
}

html {
  scroll-behavior: smooth;
}
