// flexbox
@mixin flex() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin transition($speed: $layout-transition-speed) {
  -webkit-transition: all $speed cubic-bezier(0.075, 0.82, 0.165, 1);
  -moz-transition: all $speed cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition: all $speed cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all $speed cubic-bezier(0.075, 0.82, 0.165, 1);
}

@mixin center() {
  justify-content: center;
  align-items: center;
}

@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}
