.redirect-link {
  color: $theme-light-black !important;
  font-weight: $font-weight-normal;
  text-transform: capitalize !important;
  text-decoration: none;
}
.description-italic {
  font-style: italic;
  font-weight: lighter;
}
